[default]
fileType = .jpg
dataPath =../../samples/calib/syntheticPin
dX = 5
dY = 5
nX = 6
nY = 5
zC = 100
#assume first camera and image are called 1 (index from 1)
centerCamID = 5 
centerImgIndex = 11
sX = 1292
sY = 964
pix_pitch = 0.00375
so = -980
f = 35